.c-form {
  &__input {
    width: 100%;
    border: 1px solid #D0D0D0;
    border-radius: 20px;
    height: 56px;
    background-color: white;
  }

  &__span {
    background-color: white;
    position: relative;
    top: 8px;
    left: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $input-span-color;
  }

}
